<h1>Update {{data.[0].productID}} {{data.[0].item}}</h1>

<form id = "update-product-form-ajax">
    Product ID (can't alter): <input type="number" name="productID" id="productID" value= {{data.[0].productID}} readonly> <br>
    Item: <input type="text" name="itemInput" id="itemInput" value= "{{data.[0].item}}"> <br>
    Cost: <input type="text" name="itemCost" id="itemCost" value= "{{data.[0].cost}}"> <br>
<input type="submit" id= "submitButton" value = "Submit">
</form>
<p></p>

    <div>
       <button><a href="http://flip3.engr.oregonstate.edu:9301/products">Return to products</button>
    </div>

<script src="http://flip3.engr.oregonstate.edu:9301/js/update_product.js"></script>